{{- if .IsBlock -}}
  <style>
  figcaption {
    text-align: center;
  }
  .center {
    text-align: center;
  }
  </style>
  
  <figure>
    <img src="{{ .Destination | safeURL }}"
      {{- with .Text }} alt="{{ . }}"{{ end -}}
    >
    <figcaption>{{ .Title }}</figcaption>
  </figure>
{{- else -}}
  <img src="{{ .Destination | safeURL }}"
    {{- with .Text }} alt="{{ . }}"{{ end -}}
    {{- with .Title }} title="{{ . }}"{{ end -}}
  >
{{- end -}}

